/*------Global-------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100;
  vertical-align: baseline;
}
:root {
  --main-black:#1E202B;
  --main-blue:#08AEEA;
  --main-green:#2AF598;
  --main-gradient: linear-gradient(to right,var(--main-blue), var(--main-green));
}
/*------html-------*/
html {
  font-family:source sans pro,sans-serif;
}
body  {
  background-image: url("back.png");
}
body {
  width: 100%
  background-color:red;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--main-black);
}
h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--main-black);
}
p, li {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-black);
}



    /*------nav-------*/
    .btnwhite{
      color:
      display: inline-block;
      text-decoration: none;
      width:200px;
      height: 60px;
      line-height: 60px;
      font-size: 26px;
      font-weight: 700px;
      text-align: center;
      margin-left: 25px;
      margin-top: 135px;
      background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 0%, rgba(130,61,61,0.3113620448179272) 0%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 0%, rgba(130,61,61,0.3113620448179272) 0%);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 0%, rgba(130,61,61,0.3113620448179272) 0%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#823d3d",GradientType=1);
      color: white;

  }



                                    /*------nav-------*/
                            nav {
                                      display: inline-block;
                                      width: 100%;
                                    }
                                    nav a {
                                      color:red;
                                      text-decoration: none;
                                      line-height: 50px;

                                    }
                                    ligo{
                                      font-weight: 500;
                                      font-size: 25px;
                                      letter-spacing: 2px;
                                    }
                                    nav ul {
                                      float:center;
                                      list-style: none;


                                    }
                                    nav ul li {
                                      display: inline-block;
                                      margin-left: 200px;

                                    }
                                    header {
                                      background-image: url(images/back.png);




                }
/*------mobile nav-------*/
.mobile{
  display: none;
}
label{
  margin:0 40px 0 0;
  font-size: 25px;
  color: red;
  cursor: pointer;
position: absolute;
top: 32px;
right: 0px;
}
#toggle{
  display: none;
}
.mobile ul{
  text-align: center;
  width: 100%
  display:none;
  background-color: rgba(255,255,255,0.1);
}

.mobile ul li{
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#toggle:checked ~ul{
  display: block;
}
<style>
.box{width:80%;
  height:200px;
  background:red;
  margin: 10px auto;
}
-webkit-filter: blur 150px;



/*---------------------------------------------------------------more------------------------------------------------*/

</style>
body{
    margin: 0px;
    padding: 0px;
}
#bg{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}
#bg img{
    height: 120vh;
    width: 105%;
    -webkit-filter:blur(20px);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#blackLayer{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    z-index: 99;
}
#main{
    width: 25%;
    background-color:#fff;
    border-radius: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#image img{
    height: 180px;
    width: 100%;
    margin-top: -5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#player{
    padding: 25px;
    color:#333;
}
#songTitle{
    width:300px;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#buttons{
    height: 50px;
    width: 100%;
    margin-top: 50px;
    position:relative;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#play,#next,#pre{
    width: 50px;
    height: 50px;
    border: 0;
    background-color:royalblue;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#next{
    width: 30px;
    height: 30px;
    left: 70%;
}
#pre{
    width: 30px;
    height: 30px;
    left: 30%;
}
#play img,#next img,#pre img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#seek-bar{
    width: 250px;
    height: 5px;
    background-color:gray;
    display: flex;
    border-radius: 50px;
    margin-left: 25px;
    cursor: pointer;
}
#fill{
    height: 5px;
    background-color:royalblue;
    border-radius: 20px;
}
#handle{
    width: 8px;
    height: 8px;
    background-color:royalblue;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}
